FLASK_APP=run.py
FLASK_ENV=development
APP_ENV=development
SWAGGER_ENABLED=true

DB_HOST=postgres
DB_PORT=5432
DB_NAME=wp_labs
DB_USER=student
DB_PASSWORD=your_password

PORT=4200

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

YANDEX_CLIENT_ID=0f62105e99114b988a2ad5d1f6470c4d
YANDEX_CLIENT_SECRET=ad920476e2b54cb6ac5c82b6f87ec9a7
YANDEX_CALLBACK_URL=http://localhost:4200/auth/oauth/yandex/callback
